[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mctx = {file = "https://github.com/YanivO1123/emctx/archive/main.zip"}

[dev-packages]
black = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.11"
